
<hr />

<div id="readme" class="span5">
  
<div id="template-table">
<table class="table table-bordered table-striped table-hover x-table">

<label>helllllioiii</label>

    <tbody>
        {{#data3}}
        <tr>
            <td>
                <a href="/account/">{{account_id}}</a>
                
            </td>
        
            <td>
                {{account_name}}
                
            </td>
            <td>
                {{account_password}}
            </td>
             <td>
                {{person_id}}
            </td>
            <td>
                {{role_id}}
            </td>
        </tr>
        {{/data3}}
    </tbody>


</table>

</div>


</div>
